<div class="pc-footer">
  <div class="footer-wrapper container-fuild">
    <div class="row">
      <div class="col my-1">
        <p class="m-0">
            crafted by Timbua
          <a href="https://eppulsehub.com/" target="_blank">Eppulse</a>
        </p>
      </div>
      <div class="col-auto my-1">
        <ul class="list-inline footer-link mb-0">
          <li class="list-inline-item">
            <a href="https://eppulsehub.com/home" target="_blank">Home</a>
          </li>
          <li class="list-inline-item">
            <a href="https://eppulsehub.com/services" target="_blank">services</a>
          </li>          
        </ul>
      </div>
    </div>
  </div>
</div>
